html, * {
  box-sizing: border-box;
}

html, body {
  height: auto;
  /* height: 100%; */

  background: url(https://img.freepik.com/free-photo/rustic-brick-wall-background_53876-92955.jpg?w=1480);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  
  height:100%;

}
h3{
  color: white;
  text-align: center;
  font-size: 50px;
  margin: 0 auto;
  border-style: groove;
  border-width: 8px;
  width: 400px;
}
h4 {
  color: white;
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border: 4px  black; 
  text-align: center;
 } 

.player-1 {
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex: 1;
  height: 350px;
  text-align: center;
  align-items: flex-end;
  align-content: center;
}
#master-deck-container {
  display: none;
  padding: 100px;
}
#shuffled-deck-container {
  display: none;
}

.playing-mat {
  background: url(https://p7.hiclipart.com/preview/539/436/896/chinese-wind-pattern-red-background.jpg);
  background-position: center;
  background-size: cover;
  height: auto;
}

.round-score {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding: 30px;
  color: white;
  font-size: 30px;
}

button {
  display: block;
  margin: 10px auto;
  padding: 15px 28px;
  font-size: 16px;
  color: white;
  border: 1px solid grey;
  border-radius: 4px;
  outline: none;
}

button:hover {
  background-color: grey;
  color: black;
}

#deal {
  background-color: #0d85df;
}
#hit{
  background-color: #4CAF50; 
}
#stay{
  background-color: #FF0000; 
}
#restart {
  background-color: #ffc410; 
}
